/*
	CSS by William Mau
	CSS code learnt from https://www.w3schools.com/html/default.asp
	  and help from https://www.youtube.com/watch?v=oYRda7UtuhA
*/


/* Sets global style */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
	vertical-align: baseline;
  color: #dde0e2;
}

body {
  background-color:#dde0e2;
}

/* ------------------------------------------------------------------ */
/*-- Header --*/

  /*-- Sets the background --*/
  .header {
    min-height: 100vh;
    width: 100%;  
    background-image: linear-gradient(#121517,#24292c);
    background-size: cover;
    position: relative;
  }

  /*-- Top row --*/
  nav {
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
  }

  /*-- Profile picture --*/
  nav img {
    width: 120px;
    border-radius: 10px;
  }

  /*-- Handles the hover effect --*/
  nav img:hover {
    opacity: 0.7;
  }

  /*-- Style for name --*/
  nav h3 {
    margin-bottom: 10px;
    margin-top: 5%;
    padding-left: 10px;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    flex: 1;
    justify-content: space-between;
    text-align: left;
  }

  /*-- Puts links at top to the right --*/
  .nav-links {
    flex: 1;
    text-align: right;
    visibility: visible;
    opacity: 1;
  }

  /*-- Style for writing for links at top row --*/
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    position: relative;
  }

  /*-- Makes hyperlink feature of links nice --*/
  .nav-links ul li a {
    text-decoration: none;
    font-size: 20px;
  }

  /*-- Handles the hover effect --*/
  .nav-links ul li a:hover{
    opacity: 0.7;
  }

  /*-- Hides the sidebar feature (Only for smaller screens) --*/
  nav .fa{
    display: none;
  }

  /*-- Formats position of the central heading text --*/
  .text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*-- Styles header text --*/
  .text-box h1{
    border-top:2px solid white;
    font-size: 62px;
  }

  /*-- Styles paragraph text in header --*/
  .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
  }

  /*-- Styles button --*/
  .text-button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }

  /*-- Handles the hover effect --*/
  .text-button:hover{
    opacity: 0.7;
  }

/* ------------------------------------------------------------------ */
/*-- Projects --*/

  /*-- Sets up project section--*/
  .projects {
    color: #24292c;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }

  /*-- Styles header text --*/
  .projects h1 {
    color: #24292c;
    font-size: 36px;
    font-weight: 600;
  }

  /*-- Styles paragraph text --*/
  .projects p {
    color: #24292c;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  } 

  /*-- Formats rows --*/
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  /*-- Formats columns --*/
  .projects-col {
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }

  /*-- Styles header text for columns --*/
  .projects-col h3{
    color: #24292c;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }

  /*-- Handles the hover effect --*/
  .projects-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }

  /*-- Project pictures --*/
  .projects-col img {
    width: 100%;
    border-radius: 10px;
  }


/* ------------------------------------------------------------------ */
/*-- Footer --*/

  /*-- Sets up footer section --*/
  .footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  /*-- Styles header text for footer --*/
  .footer h4 {
    color: #24292c;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
  }

  /*-- Handles social media icon formatting --*/
  .icons .fa {
    color: #4881cc;
    margin: 0 13px;
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
  }

  /*-- Handles the hover effect --*/
  .icons .fa:hover {
    opacity: 0.7;
  }

/* ------------------------------------------------------------------ */
/*-- Considers smaller screens --*/

  @media (max-width: 700px){
    /*-- HEADER -- */
      /*-- Adjusts styles to become smaller --*/
      
      /*-- Styles paragraph text --*/
      .text-box h1 {
        font-size: 30px;
      }

      /*-- Styles paragraph text for header --*/
      .text-box p {
        font-size: 18px;
      }

      /*-- Formatting links --*/
      .nav-links ul li {
        display: block;
      }

      /*-- Formatting links --*/
      .nav-links ul {
        padding: 10px;
      }

      /*-- Restyles the links as a sidebar --*/
      .nav-links {
        position: absolute;
        background:#353c3f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        text-align: left;
        z-index: 2;
        transition: 0.25s;
      }

      /*-- Adds sidebar buttons --*/
      nav .fa {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
      }


    /*-- PROJECT -- */
      /*-- Makes each row only contain one column --*/
      .row {
        flex-direction: column;
      }
  }